*{
    font-family: 'Oswald', sans-serif;
}
body{
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #101B3F 0%, #A31831 100%);
    background-repeat: no-repeat;
    backdrop-filter: blur(4px);
}
section.top{
    background-image: url("../photos/jooj.svg");
    background-size: 380px;
    background-position: 0px;
}
div.top-bg{
    display: flex;
    align-items: center;
    width: 500px;
}
img#logo{
    width: 200px;
    margin: 10px;
}
img#background{
    width: 165px;
}
h1{
    font-size: 24px;
    color: #C14C4C;
}
h2{
    font-size: 16px;
    font-weight: 100;
    color: #FFFFFF;
    margin: 0;
}
div.header{
    width: 190px;
    top: 40px;
    right: 20px;
    display: inline-block;
}
div.middle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
div.box{
    width: 282px;
    height: 84px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(0, 0, 0, 42%);
    transition: 0.2s ease;
}
div.box:hover{
    transform: scale(1.1);
    margin-left: 20px;
    margin-right: 20px;
}
div.subtitle{
    display: inline-block;
    width: 190px;
    height: 50px;
}
div.bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
a#login{
    margin: 40px 10px 10px 10px;
    display: block;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    background: #223162;
    box-shadow: 0 0 10px black;
    transition: 0.2s ease;
}
a#login:hover{
    transform: scale(1.1);
}
a#login p{
    margin: 0;
}
h3{
    margin: 0;
    font-weight: 100;
    color: #FFFCFC;
}
h4{
    margin: 0;
    color: #4E70E1;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img-txt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    background: rgba(7, 10, 20);
    padding: 10px 0;
    border-bottom: 2px solid white;
}
ul{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
li{
    list-style: none;
}
i{
    color: rgb(255, 255, 255);
    transition: 0.2s ease;
}
i:hover{
    transform:scale(1.1);
}