@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
body{
    padding: 0;
    margin: 0;
    background: linear-gradient(180deg, #101B3F 0%,#A31831 100%);
    background-repeat: no-repeat;
    backdrop-filter: blur(4px);
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box{
    background: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}
i{
    margin-top: 10px;
}
div.input{
    padding: 10px;
}
input[type=email], input[type=password]{
    border: none;
    border-bottom: 2px solid rgb(135, 135, 255);
    width: 250px;
    outline: none;
    transition: 0.5s ease;
}
input[type=password]:focus, input[type=email]:focus{
    border-bottom: 2px solid rgb(135, 255, 135);
}
input[type=submit]{
    background: rgb(163, 24, 49);
    border: none;
    width: 100px;
    box-shadow: 0px 0px 10px black;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    outline: none;
}
input[type=submit]:hover{
    transform: scale(1.1);
}
input[type=submit]{
    font-weight: 700;
    color: azure;
}
div.input-submit{
    display: flex;
    justify-content: center;
}
a{
    margin-top: 10px;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: black;
}
