* {
    box-sizing: border-box;
}

.back {
    margin-top: 15px;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: rgba(0, 0, 0);
    opacity: 0.8;
    text-decoration: none;
}

.back:hover {
    color: rgb(0, 0, 0);
    opacity: 1;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(180deg, #101B3F 0%,#A31831 100%);
    background-repeat: no-repeat;
    backdrop-filter: blur(4px);
}

.register {
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 20px black;
    padding: 20px;
}

.register:hover {
    opacity: 1;
}

.container-input-container {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.label-input-container {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-style: oblique;
    margin: 10px 0 10px 10px;
}

i {
    padding: 10px;
    color: rgb(0, 0, 0);
    min-width: 50px;
    text-align: center;
    font-size: 2em;
}

.input-field {
    width: 90%;
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(135, 135, 255);
    transition: ease 0.5s;
    font-family: 'Raleway', sans-serif;
    margin-top: 6px;
}

.input-field:focus {
    border-bottom: 2px solid rgb(135, 255, 135);
}
.submit-btn {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 15px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
    outline: none;
    transition: 0.2s;
}

.submit-btn:hover {
    transform: scale(1.1);
    opacity: 1;
}

img {
    width: 100px;
    margin-top: 10px;
    margin-bottom: 40px;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: capitalize;
    margin: 0;
}
